<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>画像圧縮</title>
  </head>
  <body>
    <% unless @error_msg.nil? %>
      <h2><%= @error_msg %></h2>
    <% end %>

    <form action="/" method="post" enctype="multipart/form-data">
      <div>
        <label>
          画像ファイル:
          <input type="file" name="image" id="image" accept="image/*">
        </label>
      </div>
      <div>
        <label>
          長辺最大サイズ:
          <input type="number" name="maxSize" id="maxSize" value="1920" size="10">
        </label>
      </div>
      <button type="submit">圧縮</button>
    </form>
  </body>
</html>
